# Network
SEPOLIA_RPC_URL=

# Foundry accounts
FOUNDRY_ACCOUNT="deployer" 
ALICE_ACCOUNT="alice"
BOB_ACCOUNT="bob"

# Wallets
POOL_CONFIGURATOR=
ALICE_ADDRESS=
BOB_ADDRESS=

# Uniswap v4
POOL_MANAGER=
HOOK=
POOL_ID=

# ENSv2 Sepolia for the ethOnline-2026
ETH_REGISTRY=
ETH_REGISTRAR=
MOCK_USDC=

GOVERNANCE_LABEL="" #ENS Domain
ENS_TOKEN_ID=""
ENS_RESOURCE=""

# Governanace map for ENSv2 ROLE_SET_RESOLVER (1 << 24)
ROLE_OPERATOR=""
GOVERNANCE_NAME=""
OPERATOR_NAME=""
ALICE_NAME=""
BOB_NAME=

# ENS registration parameters
OWNER=""
DURATION=31536000

ZERO_ADDRESS=0x0000000000000000000000000000000000000000
ZERO_BYTES32=0x0000000000000000000000000000000000000000000000000000000000000000
